.jumbotron {
    text-align: center;
}

.btn {
    margin: 5px;

}

.gifDiv{
    /* making the images go in one line rather than block & adding spacing between the images*/
    float: left;
    margin: 3px;
}